/* Apply modern styling to the outer table */
table {
    width: 40rem;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 50% auto;
    text-align: center;
  }
  
  /* Apply styling to the table header row */
  thead th {
    background-color: #0c0c0c;
    padding: 15px;
    font-weight: bold;
    color: #fff;
    border-bottom: 2px solid #e0e0e0;
  }
  
  /* Apply styling to the table data rows */
  tbody td {
    padding: 15px;
    border-bottom: 1px solid #f2f2f2;
    
  }
  
  /* Style the sub-table for site names */
  table table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    border: none;
    
  }
  
  /* Style the sub-table data rows */
  table table tbody tr {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    
  }
  
  /* Style the site names */
  table table td {
    padding: 5px;
    font-size: 14px;
    color: #444;
    
  }
  
  /* Alternate row background for better readability */
  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  /* Highlight the header cells */
  /* thead th[colspan="2"],
  thead th:nth-child(4) {
    background-color: #2d98da;
    color: #fff;
  } */
  
  /* Center text and adjust font size for the "No Data Found" message */
